In [1]:
STATE = 'TT' #Nation wide
# STATE = 'TN'

In [2]:
import json

In [3]:
try:
    import pandas as pd
except:
    !pip install pandas
    import pandas as pd
from pandas import json_normalize

## Read [JSON file](https://api.covid19india.org/v4/min/timeseries.min.json) from github

In [4]:
df = pd.read_json("https://api.covid19india.org/v4/min/timeseries.min.json")

In [5]:
df_TT = df[STATE].to_frame()
print(type(df_TT), df_TT)

<class 'pandas.core.frame.DataFrame'>                                                       TT
dates  {'2020-01-30': {'delta': {'confirmed': 1}, 'de...

In [6]:
df_TT_1 = json_normalize(df['TT'])
print("Total confirmed case as of 2021-05-15 = {:,}".format(df_TT_1['2021-05-15.total.confirmed'][0]))

Total confirmed case as of 2021-05-15 = 24,683,242

In [7]:
df_TT = df['TT'].to_frame()
df_TT_1 = json_normalize(df['TT'], max_level=0)
df_TT_1

,2020-01-30,2020-02-02,2020-02-03,2020-02-14,2020-03-02,2020-03-03,2020-03-04,2020-03-05,2020-03-06,2020-03-07,...,2021-05-06,2021-05-07,2021-05-08,2021-05-09,2021-05-10,2021-05-11,2021-05-12,2021-05-13,2021-05-14,2021-05-15
0,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'recovered': 3}, 'delta7': {'recove...","{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 22}, 'delta7': {'confi...","{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 3}, 'delta7': {'confir...",...,"{'delta': {'confirmed': 414280, 'deceased': 39...","{'delta': {'confirmed': 406901, 'deceased': 42...","{'delta': {'confirmed': 403808, 'deceased': 40...","{'delta': {'confirmed': 366455, 'deceased': 37...","{'delta': {'confirmed': 329491, 'deceased': 38...","{'delta': {'confirmed': 348555, 'deceased': 41...","{'delta': {'confirmed': 362632, 'deceased': 41...","{'delta': {'confirmed': 343005, 'deceased': 40...","{'delta': {'confirmed': 326256, 'deceased': 38...","{'delta': {'confirmed': 310757, 'deceased': 40..."

In [8]:
df_TT_1['2021-05-15'][0]['delta']

{'confirmed': 310757,
 'deceased': 4077,
 'other': 69,
 'recovered': 362548,
 'tested': 1832950,
 'vaccinated': 1762585}

In [9]:
# Taking transpose to make rows > columns

df_T = df_TT.transpose()
df_T

                                                dates
TT  {'2020-01-30': {'delta': {'confirmed': 1}, 'de...

In [10]:
df_T_1 = json_normalize(data = df_T['dates'], max_level=0)
df_T_2 = df_T_1.T
df_T_2.head(5)

                                                            0
2020-01-30  {'delta': {'confirmed': 1}, 'delta7': {'confir...
2020-02-02  {'delta': {'confirmed': 1}, 'delta7': {'confir...
2020-02-03  {'delta': {'confirmed': 1}, 'delta7': {'confir...
2020-02-14  {'delta': {'recovered': 3}, 'delta7': {'recove...
2020-03-02  {'delta': {'confirmed': 2}, 'delta7': {'confir...

In [11]:
df_T_2_1 = df_T_2.reset_index()
df_date = df_T_2_1['index'].reset_index()
df_date.columns = ['index', 'date'] 
df_date.head(5)

   index        date
0      0  2020-01-30
1      1  2020-02-02
2      2  2020-02-03
3      3  2020-02-14
4      4  2020-03-02

In [12]:
df_measures_1 = json_normalize(data = df_T_2_1[0],max_level=1)
df_measures = df_measures_1.reset_index()
df_measures

,index,delta.confirmed,delta7.confirmed,total.confirmed,delta.recovered,delta7.recovered,total.recovered,delta.deceased,delta.tested,delta7.deceased,delta7.tested,total.deceased,total.tested,delta.other,delta7.other,total.other,delta.vaccinated,delta7.vaccinated,total.vaccinated
0,0,1.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.0,2.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1.0,3.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,3,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2.0,2.0,5,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,439,348555.0,2682114.0,23340592,355398.0,2438242.0,19376792.0,4198.0,1983804.0,28053.0,12731913.0,254225.0,307583991.0,90.0,1053.0,9894.0,2525925.0,14741803.0,175235991.0
440,440,362632.0,2632122.0,23703224,352005.0,2459529.0,19728797.0,4128.0,1864594.0,28202.0,12673376.0,258353.0,309448585.0,100.0,1084.0,9994.0,1978265.0,14700917.0,177214256.0
441,441,343005.0,2560847.0,24046229,344676.0,2475856.0,20073473.0,4000.0,1875515.0,28279.0,12722401.0,262353.0,311324100.0,82.0,690.0,10076.0,2084328.0,14325526.0,179298584.0
442,442,326256.0,2480202.0,24372485,353198.0,2501379.0,20426671.0,3891.0,1693093.0,27937.0,12607150.0,266244.0,313017193.0,48.0,632.0,10124.0,1158995.0,13111035.0,180457579.0
443,443,310757.0,2387151.0,24683242,362548.0,2477532.0,20789219.0,4077.0,1832950.0,27922.0,12574672.0,270321.0,314850143.0,69.0,646.0,10193.0,1762585.0,12780501.0,182220164.0

## Joining the Dataframes

**df_data** consists of measures  
**df_date** consists of dimension   
We need to join these 2 DFs

In [17]:
df_final_0 = pd.merge(
    left = df_measures ,
    right = df_date,
    how="inner",
    on='index',
    suffixes=("_x", "_y")
)
df_final_0.head(5)

,index,delta.confirmed,delta7.confirmed,total.confirmed,delta.recovered,delta7.recovered,total.recovered,delta.deceased,delta.tested,delta7.deceased,delta7.tested,total.deceased,total.tested,delta.other,delta7.other,total.other,delta.vaccinated,delta7.vaccinated,total.vaccinated,date
0,0,1.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30
1,1,1.0,2.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-02
2,2,1.0,3.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-03
3,3,NaN,NaN,3,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-14
4,4,2.0,2.0,5,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-02

## Defaulting all numeric columns to 0 (removing NaN)

In [18]:
df_final = df_final_0.apply(lambda x:x.fillna(0) if x.dtype.kind in 'biufc' else x.fillna('.'))
df_final.head(5)

,index,delta.confirmed,delta7.confirmed,total.confirmed,delta.recovered,delta7.recovered,total.recovered,delta.deceased,delta.tested,delta7.deceased,delta7.tested,total.deceased,total.tested,delta.other,delta7.other,total.other,delta.vaccinated,delta7.vaccinated,total.vaccinated,date
0,0,1.0,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-30
1,1,1.0,2.0,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-02-02
2,2,1.0,3.0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-02-03
3,3,0.0,0.0,3,3.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-02-14
4,4,2.0,2.0,5,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-03-02

## Calculating Active Cases

In [19]:
df_final['delta.active'] = df_final['delta.confirmed'].fillna(0) - df_final['delta.recovered'].fillna(0) - df_final['delta.deceased'].fillna(0)
df_final['delta7.active'] = df_final['delta7.confirmed'].fillna(0) - df_final['delta7.recovered'].fillna(0) - df_final['delta7.deceased'].fillna(0)
df_final['total.active'] = df_final['total.confirmed'].fillna(0) - df_final['total.recovered'].fillna(0) - df_final['total.deceased'].fillna(0)

df_final.head(5)

,index,delta.confirmed,delta7.confirmed,total.confirmed,delta.recovered,delta7.recovered,total.recovered,delta.deceased,delta.tested,delta7.deceased,...,delta.other,delta7.other,total.other,delta.vaccinated,delta7.vaccinated,total.vaccinated,date,delta.active,delta7.active,total.active
0,0,1.0,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-30,1.0,1.0,1.0
1,1,1.0,2.0,2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-02-02,1.0,2.0,2.0
2,2,1.0,3.0,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-02-03,1.0,3.0,3.0
3,3,0.0,0.0,3,3.0,3.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-02-14,-3.0,-3.0,0.0
4,4,2.0,2.0,5,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-03-02,2.0,2.0,2.0

## Reordering Columns

In [20]:
df_final.columns.values

array(['index', 'delta.confirmed', 'delta7.confirmed', 'total.confirmed',
       'delta.recovered', 'delta7.recovered', 'total.recovered',
       'delta.deceased', 'delta.tested', 'delta7.deceased',
       'delta7.tested', 'total.deceased', 'total.tested', 'delta.other',
       'delta7.other', 'total.other', 'delta.vaccinated',
       'delta7.vaccinated', 'total.vaccinated', 'date', 'delta.active',
       'delta7.active', 'total.active'], dtype=object)

In [21]:
df_ordered = df_final[['date', 
        'total.active','total.confirmed', 'total.recovered', 'total.deceased', 'total.tested','total.vaccinated',
        'delta.active','delta.confirmed', 'delta.recovered', 'delta.deceased', 'delta.tested','delta.vaccinated',
        'delta7.active','delta7.confirmed', 'delta7.recovered', 'delta7.deceased', 'delta7.tested','delta7.vaccinated',]]
df_ordered.head(5)

,date,total.active,total.confirmed,total.recovered,total.deceased,total.tested,total.vaccinated,delta.active,delta.confirmed,delta.recovered,delta.deceased,delta.tested,delta.vaccinated,delta7.active,delta7.confirmed,delta7.recovered,delta7.deceased,delta7.tested,delta7.vaccinated
0,2020-01-30,1.0,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,2020-02-02,2.0,2,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0
2,2020-02-03,3.0,3,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0
3,2020-02-14,0.0,3,3.0,0.0,0.0,0.0,-3.0,0.0,3.0,0.0,0.0,0.0,-3.0,0.0,3.0,0.0,0.0,0.0
4,2020-03-02,2.0,5,3.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0

## Writing into CSV

In [43]:
df_ordered.to_csv('Total_stats-2021-05-16.csv',index=False)