In [12]:
STATE = 'TN'

In [2]:
import json

In [6]:
import datetime
today = datetime.date.today()
FILE_SUFFIX = today.strftime("%Y-%m-%d")
FILE_SUFFIX

'2021-05-16'

In [7]:
try:
    import pandas as pd
except:
    !pip install pandas
    import pandas as pd
from pandas import json_normalize

## Read [JSON file](https://api.covid19india.org/v4/min/timeseries.min.json) from github

In [8]:
df = pd.read_json("https://api.covid19india.org/v4/min/timeseries.min.json")

In [15]:
df_TT = df[STATE].to_frame()
print(type(df_TT), df_TT)

<class 'pandas.core.frame.DataFrame'>                                                       TN
dates  {'2020-03-07': {'delta': {'confirmed': 1}, 'de...

In [16]:
# df_TT_1 = json_normalize(df[STATE])
# print("Total confirmed case as of 2021-05-15 = {:,}".format(df_TT_1['2021-05-15.total.confirmed'][0]))

Total confirmed case as of 2021-05-15 = 1,565,035

In [21]:
df_TT = df[STATE].to_frame()
df_TT_1 = json_normalize(df[STATE], max_level=0)
df_TT_1

,2020-03-07,2020-03-08,2020-03-09,2020-03-10,2020-03-11,2020-03-12,2020-03-13,2020-03-14,2020-03-15,2020-03-16,...,2021-05-06,2021-05-07,2021-05-08,2021-05-09,2021-05-10,2021-05-11,2021-05-12,2021-05-13,2021-05-14,2021-05-15
0,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...",{'total': {'confirmed': 1}},{'total': {'confirmed': 1}},{'total': {'confirmed': 1}},...,"{'delta': {'confirmed': 24898, 'deceased': 195...","{'delta': {'confirmed': 26465, 'deceased': 197...","{'delta': {'confirmed': 27397, 'deceased': 241...","{'delta': {'confirmed': 28897, 'deceased': 236...","{'delta': {'confirmed': 28978, 'deceased': 232...","{'delta': {'confirmed': 29272, 'deceased': 298...","{'delta': {'confirmed': 30355, 'deceased': 293...","{'delta': {'confirmed': 30621, 'deceased': 297...","{'delta': {'confirmed': 31892, 'deceased': 288...","{'delta': {'confirmed': 33658, 'deceased': 303..."

In [22]:
df_TT

                                                      TN
dates  {'2020-03-07': {'delta': {'confirmed': 1}, 'de...

In [23]:
df_T = df_TT.transpose()
df_T

                                                dates
TN  {'2020-03-07': {'delta': {'confirmed': 1}, 'de...

In [24]:
df_T_1 = json_normalize(data = df_T['dates'], max_level=0)
df_T_2 = df_T_1.T
df_T_2 #Type = DF

                                                            0
2020-03-07  {'delta': {'confirmed': 1}, 'delta7': {'confir...
2020-03-08  {'delta7': {'confirmed': 1}, 'total': {'confir...
2020-03-09  {'delta7': {'confirmed': 1}, 'total': {'confir...
2020-03-10  {'delta7': {'confirmed': 1}, 'total': {'confir...
2020-03-11  {'delta7': {'confirmed': 1}, 'total': {'confir...
...                                                       ...
2021-05-11  {'delta': {'confirmed': 29272, 'deceased': 298...
2021-05-12  {'delta': {'confirmed': 30355, 'deceased': 293...
2021-05-13  {'delta': {'confirmed': 30621, 'deceased': 297...
2021-05-14  {'delta': {'confirmed': 31892, 'deceased': 288...
2021-05-15  {'delta': {'confirmed': 33658, 'deceased': 303...

[435 rows x 1 columns]

In [25]:
df_T_2_1 = df_T_2.reset_index()
df_date = df_T_2_1['index'].reset_index()
df_date.columns = ['index', 'date'] 
df_date

     index        date
0        0  2020-03-07
1        1  2020-03-08
2        2  2020-03-09
3        3  2020-03-10
4        4  2020-03-11
..     ...         ...
430    430  2021-05-11
431    431  2021-05-12
432    432  2021-05-13
433    433  2021-05-14
434    434  2021-05-15

[435 rows x 2 columns]

In [26]:
df_measures_1 = json_normalize(data = df_T_2_1[0],max_level=1)
df_measures = df_measures_1.reset_index()
df_measures

,index,delta.confirmed,delta7.confirmed,total.confirmed,delta.deceased,delta.recovered,delta7.deceased,delta7.recovered,total.deceased,total.recovered,delta.tested,delta7.tested,total.tested,delta.vaccinated,delta7.vaccinated,total.vaccinated
0,0,1.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,430,29272.0,189217.0,1438509,298.0,19182.0,1566.0,150700.0,16178.0,1260150.0,156111.0,1072456.0,24310931.0,74694.0,472930.0,6661775.0
431,431,30355.0,196262.0,1468864,293.0,19508.0,1692.0,150146.0,16471.0,1279658.0,156356.0,1073430.0,24467287.0,77148.0,489681.0,6738923.0
432,432,30621.0,201985.0,1499485,297.0,19287.0,1794.0,147887.0,16768.0,1298945.0,158129.0,1079429.0,24625416.0,83911.0,486382.0,6822834.0
433,433,31892.0,207412.0,1531377,288.0,20037.0,1885.0,145543.0,17056.0,1318982.0,160042.0,1086659.0,24785458.0,50756.0,450911.0,6873590.0
434,434,33658.0,213673.0,1565035,303.0,20905.0,1947.0,143338.0,17359.0,1339887.0,164945.0,1095606.0,24950403.0,54739.0,448042.0,6928329.0

## Joining the Dataframes

**df_data** consists of measures  
**df_date** consists of dimension   
We need to join these 2 DFs

In [27]:
df_date

     index        date
0        0  2020-03-07
1        1  2020-03-08
2        2  2020-03-09
3        3  2020-03-10
4        4  2020-03-11
..     ...         ...
430    430  2021-05-11
431    431  2021-05-12
432    432  2021-05-13
433    433  2021-05-14
434    434  2021-05-15

[435 rows x 2 columns]

In [28]:
df_final_0 = pd.merge(
    left = df_measures ,
    right = df_date,
    how="inner",
    on='index',
    suffixes=("_x", "_y")
)
df_final_0

,index,delta.confirmed,delta7.confirmed,total.confirmed,delta.deceased,delta.recovered,delta7.deceased,delta7.recovered,total.deceased,total.recovered,delta.tested,delta7.tested,total.tested,delta.vaccinated,delta7.vaccinated,total.vaccinated,date
0,0,1.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-07
1,1,NaN,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-08
2,2,NaN,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09
3,3,NaN,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-10
4,4,NaN,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,430,29272.0,189217.0,1438509,298.0,19182.0,1566.0,150700.0,16178.0,1260150.0,156111.0,1072456.0,24310931.0,74694.0,472930.0,6661775.0,2021-05-11
431,431,30355.0,196262.0,1468864,293.0,19508.0,1692.0,150146.0,16471.0,1279658.0,156356.0,1073430.0,24467287.0,77148.0,489681.0,6738923.0,2021-05-12
432,432,30621.0,201985.0,1499485,297.0,19287.0,1794.0,147887.0,16768.0,1298945.0,158129.0,1079429.0,24625416.0,83911.0,486382.0,6822834.0,2021-05-13
433,433,31892.0,207412.0,1531377,288.0,20037.0,1885.0,145543.0,17056.0,1318982.0,160042.0,1086659.0,24785458.0,50756.0,450911.0,6873590.0,2021-05-14
434,434,33658.0,213673.0,1565035,303.0,20905.0,1947.0,143338.0,17359.0,1339887.0,164945.0,1095606.0,24950403.0,54739.0,448042.0,6928329.0,2021-05-15

## Defaulting all numeric columns to 0 (removing NaN)

In [29]:
df_final = df_final_0.apply(lambda x:x.fillna(0) if x.dtype.kind in 'biufc' else x.fillna('.'))
df_final

,index,delta.confirmed,delta7.confirmed,total.confirmed,delta.deceased,delta.recovered,delta7.deceased,delta7.recovered,total.deceased,total.recovered,delta.tested,delta7.tested,total.tested,delta.vaccinated,delta7.vaccinated,total.vaccinated,date
0,0,1.0,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-03-07
1,1,0.0,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-03-08
2,2,0.0,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-03-09
3,3,0.0,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-03-10
4,4,0.0,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-03-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,430,29272.0,189217.0,1438509,298.0,19182.0,1566.0,150700.0,16178.0,1260150.0,156111.0,1072456.0,24310931.0,74694.0,472930.0,6661775.0,2021-05-11
431,431,30355.0,196262.0,1468864,293.0,19508.0,1692.0,150146.0,16471.0,1279658.0,156356.0,1073430.0,24467287.0,77148.0,489681.0,6738923.0,2021-05-12
432,432,30621.0,201985.0,1499485,297.0,19287.0,1794.0,147887.0,16768.0,1298945.0,158129.0,1079429.0,24625416.0,83911.0,486382.0,6822834.0,2021-05-13
433,433,31892.0,207412.0,1531377,288.0,20037.0,1885.0,145543.0,17056.0,1318982.0,160042.0,1086659.0,24785458.0,50756.0,450911.0,6873590.0,2021-05-14
434,434,33658.0,213673.0,1565035,303.0,20905.0,1947.0,143338.0,17359.0,1339887.0,164945.0,1095606.0,24950403.0,54739.0,448042.0,6928329.0,2021-05-15

## Calculating Active Cases

In [30]:
df_final['TN_delta.active'] = df_final['delta.confirmed'].fillna(0) - df_final['delta.recovered'].fillna(0) - df_final['delta.deceased'].fillna(0)
df_final['TN_delta7.active'] = df_final['delta7.confirmed'].fillna(0) - df_final['delta7.recovered'].fillna(0) - df_final['delta7.deceased'].fillna(0)
df_final['TN_total.active'] = df_final['total.confirmed'].fillna(0) - df_final['total.recovered'].fillna(0) - df_final['total.deceased'].fillna(0)

df_final

,index,delta.confirmed,delta7.confirmed,total.confirmed,delta.deceased,delta.recovered,delta7.deceased,delta7.recovered,total.deceased,total.recovered,delta.tested,delta7.tested,total.tested,delta.vaccinated,delta7.vaccinated,total.vaccinated,date,TN_delta.active,TN_delta7.active,TN_total.active
0,0,1.0,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-03-07,1.0,1.0,1.0
1,1,0.0,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-03-08,0.0,1.0,1.0
2,2,0.0,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-03-09,0.0,1.0,1.0
3,3,0.0,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-03-10,0.0,1.0,1.0
4,4,0.0,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-03-11,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,430,29272.0,189217.0,1438509,298.0,19182.0,1566.0,150700.0,16178.0,1260150.0,156111.0,1072456.0,24310931.0,74694.0,472930.0,6661775.0,2021-05-11,9792.0,36951.0,162181.0
431,431,30355.0,196262.0,1468864,293.0,19508.0,1692.0,150146.0,16471.0,1279658.0,156356.0,1073430.0,24467287.0,77148.0,489681.0,6738923.0,2021-05-12,10554.0,44424.0,172735.0
432,432,30621.0,201985.0,1499485,297.0,19287.0,1794.0,147887.0,16768.0,1298945.0,158129.0,1079429.0,24625416.0,83911.0,486382.0,6822834.0,2021-05-13,11037.0,52304.0,183772.0
433,433,31892.0,207412.0,1531377,288.0,20037.0,1885.0,145543.0,17056.0,1318982.0,160042.0,1086659.0,24785458.0,50756.0,450911.0,6873590.0,2021-05-14,11567.0,59984.0,195339.0
434,434,33658.0,213673.0,1565035,303.0,20905.0,1947.0,143338.0,17359.0,1339887.0,164945.0,1095606.0,24950403.0,54739.0,448042.0,6928329.0,2021-05-15,12450.0,68388.0,207789.0

## Reordering Columns

In [31]:
df_final.columns.values

array(['index', 'delta.confirmed', 'delta7.confirmed', 'total.confirmed',
       'delta.deceased', 'delta.recovered', 'delta7.deceased',
       'delta7.recovered', 'total.deceased', 'total.recovered',
       'delta.tested', 'delta7.tested', 'total.tested',
       'delta.vaccinated', 'delta7.vaccinated', 'total.vaccinated',
       'date', 'TN_delta.active', 'TN_delta7.active', 'TN_total.active'],
      dtype=object)

In [32]:
df_ordered = df_final[['date', 
        'TN_total.active','total.confirmed', 'total.recovered', 'total.deceased', 'total.tested','total.vaccinated',
        'TN_delta.active','delta.confirmed', 'delta.recovered', 'delta.deceased', 'delta.tested','delta.vaccinated',
        'TN_delta7.active','delta7.confirmed', 'delta7.recovered', 'delta7.deceased', 'delta7.tested','delta7.vaccinated',]]
df_ordered

,date,TN_total.active,total.confirmed,total.recovered,total.deceased,total.tested,total.vaccinated,TN_delta.active,delta.confirmed,delta.recovered,delta.deceased,delta.tested,delta.vaccinated,TN_delta7.active,delta7.confirmed,delta7.recovered,delta7.deceased,delta7.tested,delta7.vaccinated
0,2020-03-07,1.0,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,2020-03-08,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2,2020-03-09,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
3,2020-03-10,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4,2020-03-11,1.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,2021-05-11,162181.0,1438509,1260150.0,16178.0,24310931.0,6661775.0,9792.0,29272.0,19182.0,298.0,156111.0,74694.0,36951.0,189217.0,150700.0,1566.0,1072456.0,472930.0
431,2021-05-12,172735.0,1468864,1279658.0,16471.0,24467287.0,6738923.0,10554.0,30355.0,19508.0,293.0,156356.0,77148.0,44424.0,196262.0,150146.0,1692.0,1073430.0,489681.0
432,2021-05-13,183772.0,1499485,1298945.0,16768.0,24625416.0,6822834.0,11037.0,30621.0,19287.0,297.0,158129.0,83911.0,52304.0,201985.0,147887.0,1794.0,1079429.0,486382.0
433,2021-05-14,195339.0,1531377,1318982.0,17056.0,24785458.0,6873590.0,11567.0,31892.0,20037.0,288.0,160042.0,50756.0,59984.0,207412.0,145543.0,1885.0,1086659.0,450911.0
434,2021-05-15,207789.0,1565035,1339887.0,17359.0,24950403.0,6928329.0,12450.0,33658.0,20905.0,303.0,164945.0,54739.0,68388.0,213673.0,143338.0,1947.0,1095606.0,448042.0

## Writing into CSV

In [33]:
CSV_NAME = STATE + '_C19_Stats_' + FILE_SUFFIX +'.csv'
CSV_NAME

'TN_C19_Stats_2021-05-16.csv'

In [34]:
df_ordered.to_csv(CSV_NAME,index=False)